// Fonts
@import "@fontsource/jost";

// Variables
@import 'variables';
@import 'fonts';
@import 'header';
@import 'mobile_menu';
@import 'item_card';
//@import 'test';
@import 'footer';
@import 'btn_style';
@import 'link_style';
@import 'dropdown_style';
@import 'input_style';
// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Main
$header_transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
@mixin my-scrollbar{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0 4px 4px 0;
        background-color: darken($scrollbar-color, 50);
    }
    &::-webkit-scrollbar-track{
        background-color: $scrollbar-color;
        border-radius: 0 4px 4px 0;
    }
}
*{
    &:focus-visible{
        outline: none;
    }
}
a{
    color: initial;
    text-decoration: none;
    &:hover{
        color: initial;
    }
}
ul{
    list-style-type: none;
}

body{
    font-family: "Jost";
    .wrapper{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .header, .footer{
            flex-shrink: 0;
        }
        .body-content{
            flex-grow: 1;
        }
    }
    .hidden{
        display: none!important;
    }
    .socials-viber-whatsup-telegram{
        display: flex;
        flex-direction: row;
        .social-item{
            margin-right: 9px;
            .social-item-viber, .social-item-telegram{
                path{
                    fill: #5D6C7BFF;
                }
            }
            .social-item-whatsup{
                path:first-child{
                    fill: #5D6C7BFF;
                }
                path:last-child{
                    fill: white;
                }
            }
            svg path{
                transition: $header_transition;
            }
            &:hover, &:active{
                .social-item-viber path{
                    fill: #9c3fb4;
                }
                .social-item-whatsup path:first-child{
                    fill: #4caf50;
                }
                .social-item-telegram path{
                    fill: #039be5;
                }
            }
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}
