.small-btn{
    padding: 7px 17px;
    font-size: 12px;
    line-height: 17px;
    max-height: 37px;
}
.big-btn{
    padding: 12px 22px;
    font-size: 16px;
    line-height: 23px;
    max-height: 53px;
}
.btn-violet-border{
    @include btn(white, $violet_base);
    border: 3px solid #6F73EE;
    font-weight: 400;
}
.btn-violet{
    @include btn($violet_base, white, $violet_hover);
    border: 3px solid $violet_base;
    font-weight: 400;
}
.btn-orange{
    @include btn(#F3a712, white, #FAB836);
    font-weight: 400;
}
.btn-grey{
    @include btn($grey_base, $black_base, $violet_base);
    font-weight: 400;
    &:hover, &:active{
        background: white;
        color: $violet_base;
    }
}
.btn-white{
    @include btn(white, $violet_base);
    border: 3px solid white;
    font-weight: 400;
    &:hover, &:active{
        border: 3px solid white;
    }
}
.btn-violet.btn-catalog{
    position: relative;
    padding: 5px 15px 5px 40px;
    max-height: 44px;
    &:active{
        .btn-catalog-icon{
            &:after{
                width: 13px;
                transform: translate(-1px, 0px);
            }
        }
    }
    .btn-catalog-content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(5px, -50%);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn-catalog-icon{
        display: block;
        width: 13px;
        height: 3px;
        background: white;
        border: 1.3px solid #FFFFFF;
        border-radius: 1px;
        &:after{
            content: "";
            display: block;
            width: 7px;
            height: 3px;
            background: white;
            border: 1.3px solid #FFFFFF;
            border-radius: 1px;
            transition: $header_transition;
            transform: translate(5px, 0px);
        }
        &:before{
            content: "";
            display: block;
            width: 13px;
            height: 3px;
            background: white;
            border: 1.3px solid #FFFFFF;
            border-radius: 1px;
            transform: translate(-1px, -5px);
        }
    }
}
.kugoo-dropdown{
    height: fit-content;
    .kugoo-dropdown-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        font-size: 14px;
        min-width: 90px;
        border-radius: 15px;
        letter-spacing: 0;
    }
    .kugoo-dropdown-menu{
        background: $grey_base;
        border: none;
        border-radius: 15px;
        margin-top: 10px!important;
        .kugoo-dropdown-item{
            border-radius: 15px;
            border: none;
            transition: $header_transition;
            color: $black_base;
            font-size: 14px;
            line-height: 20px;
            &:hover, &:active{
                color: $violet_hover;
                background: $grey_base;
            }
        }
    }
}
.dropdown-grey-border{
    .dropdown-grey-border-btn{
        padding: 8px 15px;
        gap: 5px;
        color: lighten($black_base, 10);
        border: 3px solid $grey_base;
        transition: $header_transition;
        background: white;
        .dropdown-choose{
            color: $black_base;
        }
        &:after{
            content: none;
        }
    }
}
.dropdown-grey-border-btn.show, .dropdown-grey .dropdown-grey-border-btn:active{
    background: $grey_base;
}
.dropdown-grey{
    .dropdown-grey-btn{
        padding: 8px 15px;
        gap: 5px;
        align-items: baseline;
        background: $grey_base;
        color: $black_base;
        border: none;
        &:after{
            transition: $header_transition;
            top: 50%;
            right: 17px;
            transform: translate(0, -50%);
        }
    }
}
.dropdown-grey-btn.show:after, .dropdown-grey .dropdown-grey-btn:active:after{
    transform: translate(0, calc(-50%)) rotate(180deg);
}
.dropdown-violet-border{
    .dropdown-violet-border-btn{
        padding: 7px 10px 7px 17px;
        background: white;
        color: $violet_base;
        border: 3px solid $violet_base;
        transition: $header_transition;
        &:after{
            content: none;
        }
        span {
            margin-left: 5px;
        }
    }
    .dropdown-violet-border-menu{
        .dropdown-violet-border-item{

        }
    }
}
.dropdown-violet-border-btn.show, .dropdown-violet-border .dropdown-violet-border-btn:active{
    background: $violet_base;
    color: white;
}

.kugoo-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    height: fit-content;
}
.link-grey{
    font-size: 14px;
    color: $text_color;
    transition: $header_transition;
    &:hover, &:active{
        color: $black_base;
        svg path{
            fill: $black_base;
        }
    }
    svg path{
        transition: $header_transition;
        fill: $text_color;
    }
}
.link-red, .link-icon-red{
    font-size: 14px;
    color: $text_color;
    transition: $header_transition;
    &:hover, &:active{
        color: $red_base;
        svg path{
            fill: $red_base;
        }
    }
    svg path{
        transition: $header_transition;
        fill: $text_color;
    }
}
.link-violet{
    color: $black_base;
    transition: $header_transition;
    svg{
        path{
            transition: $header_transition;
        }
    }
    &:hover, &:active{
        color: $violet_base;
        svg path{
            fill: $violet_base;
        }
    }
}
.link-violet-square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background: $grey_base;
    padding: 10px 22px;
    color: $black_base;
    font-weight: 700;
    transition: $header_transition;
    &:hover{
        color: $violet_hover;
    }
}
.link-number{
    font-weight: 700;
}
.link-with-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.link-icon-base{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    padding: 10px;
    gap: 10px;
}
.link-wide{
    height: initial;
    width: initial;
    padding: 10px 20px;
}
.link-icon-bg{
    background: white;
    transition: $header_transition;
    &:hover, &:active{
        background: #F4F7FB;
    }
}
.link-icon-border{
    background: white;
    border: 5px solid #EAEBED;
    padding: 0;
    transition: $header_transition;
    &:hover{
        background: #EAEBED;
    }
    svg{
        path{
            transition: $header_transition;
        }
        &:hover{
            path{
                fill: $violet_base;
            }
        }
    }
}
.link-icon-blur{
    width: 35px;
    height: 35px;
    svg path{
        fill: $text_color;
        transition: $header_transition;
    }
    background: white;
    transform: initial;
    transition: $header_transition;
    //TODO:убрать бесконечную прокрутку
    &:hover, &:active{
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        svg path{
            fill: $violet_base;
        }
    }
}

.socials{
    display: flex;
    flex-direction: row;
    .social-item{
        margin-right: 9px;
        .social-item-viber, .social-item-telegram{
            path{
                fill: #5D6C7BFF;
            }
        }
        .social-item-whatsup{
            path:first-child{
                fill: #5D6C7BFF;
            }
            path:last-child{
                fill: white;
            }
        }
        svg path{
            transition: $header_transition;
        }
        &:hover, &:active{
            .social-item-viber path{
                fill: #9c3fb4;
            }
            .social-item-whatsup path:first-child{
                fill: #4caf50;
            }
            .social-item-telegram path{
                fill: #039be5;
            }
        }
    }
}

.kugoo-counter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 38px;
    width: 106px;
    border-radius: 15px;
    background: #F4F7FB;
    border: none;
    padding: 8px 18px;
    gap: 22px;
    .kugoo-counter-remove, .kugoo-counter-add{
        cursor: pointer;
        svg rect{
            transition: $header_transition;
            fill: $text_color;
        }
        &:hover, &:active{
            svg rect{
                fill: $violet_base;
            }
        }
    }
    .kugoo-counter-value{
        color: $black_base;
    }
}
