.small-btn{
    padding: 7px 17px;
    font-size: 12px;
    line-height: 17px;
    max-height: 37px;
}
.big-btn{
    padding: 12px 22px;
    font-size: 16px;
    line-height: 23px;
    max-height: 53px;
}
.btn-violet-border{
    @include btn(white, $violet_base);
    border: 3px solid #6F73EE;
    font-weight: 400;
}
.btn-violet{
    @include btn($violet_base, white, $violet_hover);
    border: 3px solid $violet_base;
    font-weight: 400;
}
.btn-orange{
    @include btn(#F3a712, white, #FAB836);
    font-weight: 400;
}
.btn-grey{
    @include btn($grey_base, $black_base, $violet_base);
    font-weight: 400;
    &:hover, &:active{
        background: white;
        color: $violet_base;
    }
}
.btn-white{
    @include btn(white, $violet_base);
    border: 3px solid white;
    font-weight: 400;
    &:hover, &:active{
        border: 3px solid white;
    }
}
.btn-violet.btn-catalog{
    position: relative;
    padding: 5px 15px 5px 40px;
    max-height: 44px;
    &:active{
        .btn-catalog-icon{
            &:after{
                width: 13px;
                transform: translate(-1px, 0px);
            }
        }
    }
    .btn-catalog-content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(5px, -50%);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn-catalog-icon{
        display: block;
        width: 13px;
        height: 3px;
        background: white;
        border: 1.3px solid #FFFFFF;
        border-radius: 1px;
        &:after{
            content: "";
            display: block;
            width: 7px;
            height: 3px;
            background: white;
            border: 1.3px solid #FFFFFF;
            border-radius: 1px;
            transition: $header_transition;
            transform: translate(5px, 0px);
        }
        &:before{
            content: "";
            display: block;
            width: 13px;
            height: 3px;
            background: white;
            border: 1.3px solid #FFFFFF;
            border-radius: 1px;
            transform: translate(-1px, -5px);
        }
    }
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
    .social-item{
        .social-item-viber, .social-item-telegram{
            path{
                fill: #5D6C7BFF;
            }
        }
        .social-item-whatsup{
            path:first-child{
                fill: #5D6C7BFF;
            }
            path:last-child{
                fill: white;
            }
        }
        svg path{
            transition: $header_transition;
        }
        &:hover, &:active{
            .social-item-viber path{
                fill: #9c3fb4;
            }
            .social-item-whatsup path:first-child{
                fill: #4caf50;
            }
            .social-item-telegram path{
                fill: #039be5;
            }
        }
    }
}
.socials-violet-bg{
    .social-item{
        //TODO:цвет
        border: 3px solid #8c8ff2;
        border-radius: 15px;
        padding: 10px 30px;
        background: transparent;
        transition: $header_transition;
        .social-item-viber{
            path{
                fill: white;
            }
        }
        .social-item-telegram{
            path{
                fill: white;
            }
        }
        .social-item-whatsup{
            path:first-child{
                fill: white;
            }
            path:last-child{
                fill: $violet_base;
            }
        }
        &:hover, &:active{
            background: #8c8ff2;
            .social-item-viber{
                path{
                    fill: white;
                }
            }
            .social-item-telegram{
                path{
                    fill: white;
                }
            }
            .social-item-whatsup{
                path:first-child{
                    fill: white;
                }
                path:last-child{
                    fill: #8c8ff2;
                }
            }
        }
    }
}
.socials-white-bg{
    .social-item{
        //TODO:цвет
        border: 3px solid #e5e6e8;
        border-radius: 15px;
        padding: 10px 20px;
        background: transparent;
        transition: $header_transition;
        .social-item-viber{
            path{
                fill: $violet_base;
            }
        }
        .social-item-whatsup{
            path:first-child{
                fill: #75d14a;
            }
            path:last-child{
                fill: white;
            }
        }
        .social-item-telegram{
            path{
                fill: #008de0;
            }
        }
    }
    .social-viber{
        &:hover, &:active{
            border: 3px solid $violet_base;
            background: $violet_base;
            .social-item-viber{
                path{
                    fill: white;
                }
            }
        }
    }
    .social-whatsup{
        &:hover, &:active{
            border: 3px solid #75d14a;
            background: #75d14a;
            .social-item-whatsup{
                path:first-child{
                    fill: white;
                }
                path:last-child{
                    fill: #75d14a;
                }
            }
        }
    }
    .social-telegram{
        &:hover, &:active{
            border: 3px solid #008de0;
            background: #008de0;
            .social-item-telegram{
                path{
                    fill: white;
                }
            }
        }
    }
}

.kugoo-counter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 38px;
    width: 106px;
    border-radius: 15px;
    background: #F4F7FB;
    border: none;
    padding: 8px 18px;
    gap: 22px;
    user-select: none;
    .kugoo-counter-remove, .kugoo-counter-add{
        cursor: pointer;
        svg rect{
            transition: $header_transition;
            fill: $text_color;
        }
        &:hover, &:active{
            svg rect{
                fill: $violet_base;
            }
        }
    }
    .kugoo-counter-value{
        color: $black_base;
    }
}

.kugoo-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 178px;
    height: 43px;
    gap: 10px;
    padding: 8px;
    background: $violet_base;
    user-select: none;
    .kugoo-slider-value{
        color: white;
    }
    .kugoo-slider-remove, .kugoo-slider-add{
        cursor: pointer;
        svg path, svg circle{
            transition: $header_transition;
        }
        &:hover, &:active{
            svg circle{
                fill: white;
            }
            svg path{
                fill: $violet_base;
            }
        }
    }
    .kugoo-slider-remove.disabled, .kugoo-slider-add.disabled{
        svg circle{
            stroke-width: 2px;
        }
    }
    .kugoo-slider-slide{
        position: relative;
        margin: 0 15px;
        width: 35px;
        height: 8px;
        .kugoo-slide-front{
            position: absolute;
            width: 15px;
            height: 0px;
            border: 4px solid #FFFFFF;
            border-radius: 5px;
            transition: $header_transition;
        }
        .kugoo-slide-back{
            position: absolute;
            width: 35px;
            height: 0px;
            border: 4px solid #8E91F2;
            border-radius: 5px;
        }
    }
}

.api-subscribe-vk{
    background: #4B729F;
    &:hover, &:active{
        background: #5F88B7;
    }
}
.api-subscribe-instagram{
    background: linear-gradient(57.44deg, #FFC107 -3.72%, #F44336 47.77%, #9C27B0 96.83%), #4B729F;
    &:hover, &:active {
        background: linear-gradient(57.44deg, #FFCC34 -3.72%, #FF6458 47.77%, #AF3AC2 96.83%), #4B729F;
    }
}
.api-subscribe-youtube{
    background: #E53935;
    &:hover, &:active {
        background: #FC4C48;
    }
}
.api-subscribe-telegram{
    background: #039Be5;
    &:hover, &:active {
        background: #28b3f7;
    }
}
.kugoo-api-subscribe{
    cursor: pointer;
    min-width: 288px;
    min-height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    color: white;
    transition: $header_transition;
    .kugoo-api-subscribe-label{
        path{
            fill: white;
        }
    }
    .kugoo-api-subscribe-resource{
        display: flex;
        gap: 10px;
        align-items: center;
        width: 50%;
        user-select: none;
        .kugoo-api-subscribe-name{
            font-weight: 500;
            background: transparent;
        }
    }
    .kugoo-api-subscribe-value{
        opacity: 0.7;
        text-align: right;
    }
}

.kugoo-brand-card{
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 10px;
    min-width: 135px;
    gap: 10px;
    background: white;
    .kugoo-brand-card-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .kugoo-brand-card-info-top{
            color: $black_base;
            font-weight: 700;
            font-size: 14px;
        }
        .kugoo-brand-card-info-bottom{
            color: $text_color;
            font-size: 12px;
        }
    }
}
