.small-btn{
    padding: 7px 17px;
    font-size: 12px;
    line-height: 17px;
    max-height: 37px;
}
.big-btn{
    padding: 12px 22px;
    font-size: 16px;
    line-height: 23px;
    max-height: 53px;
}
.btn-violet-border{
    @include btn(white, $violet_base);
    border: 3px solid #6F73EE;
    font-weight: 400;
}
.btn-violet{
    @include btn($violet_base, white, $violet_hover);
    border: 3px solid $violet_base;
    font-weight: 400;
}
.btn-orange{
    @include btn(#F3a712, white, #FAB836);
    font-weight: 400;
}
.btn-grey{
    @include btn($grey_base, black, $violet_base);
    font-weight: 400;
    &:hover, &:active{
        background: white;
        color: $violet_base;
    }
}
.btn-white{
    @include btn(white, $violet_base);
    border: 3px solid white;
    font-weight: 400;
    &:hover, &:active{
        border: 3px solid white;
    }
}
.btn-violet.btn-catalog{
    position: relative;
    padding: 5px 15px 5px 40px;
    max-height: 44px;
    &:active{
        .btn-catalog-icon{
            &:after{
                width: 13px;
                transform: translate(-1px, 0px);
            }
        }
    }
    .btn-catalog-content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(5px, -50%);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn-catalog-icon{
        display: block;
        width: 13px;
        height: 3px;
        background: white;
        border: 1.3px solid #FFFFFF;
        border-radius: 1px;
        &:after{
            content: "";
            display: block;
            width: 7px;
            height: 3px;
            background: white;
            border: 1.3px solid #FFFFFF;
            border-radius: 1px;
            transition: $header_transition;
            transform: translate(5px, 0px);
        }
        &:before{
            content: "";
            display: block;
            width: 13px;
            height: 3px;
            background: white;
            border: 1.3px solid #FFFFFF;
            border-radius: 1px;
            transform: translate(-1px, -5px);
        }
    }
}
.dropdown{
    .dropdown-btn{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        font-size: 14px;
        min-width: 90px;
        border-radius: 15px;
        letter-spacing: 0em;
    }
    .dropdown-menu{
        background: $grey_base;
        border: none;
        border-radius: 15px;
        margin-top: 10px!important;
        .dropdown-item{
            border-radius: 15px;
            border: none;
            transition: $header_transition;
            color: black;
            font-size: 14px;
            line-height: 20px;
            &:hover, &:active{
                color: $violet_hover;
                background: $grey_base;
            }
        }
    }
}
.dropdown-grey{
    .dropdown-grey-btn{
        background: $grey_base;
        color: black;
        border: none;
        &:after{
            transition: $header_transition;
            top: 50%;
            right: 17px;
            transform: translate(0, -50%);
        }
    }
}
.dropdown-grey-btn.show:after, .dropdown-grey .dropdown-grey-btn:active:after{
    transform: translate(0, calc(-50%)) rotate(180deg);
}
.dropdown-violet-border{
    .dropdown-violet-border-btn{
        background: white;
        color: $violet_base;
        border: 3px solid $violet_base;
        transition: $header_transition;
        &:after{
            content: none;
        }
    }
    .dropdown-violet-border-menu{
        .dropdown-violet-border-item{

        }
    }
}
.dropdown-violet-border-btn.show:after, .dropdown-violet-border .dropdown-violet-border-btn:active{
    background: $violet_base;
    color: white;
}

.link-black{
    color: grey;
    transition: $header_transition;
    &:hover{
        color: black;
    }
}
.link-violet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background: $grey_base;
    padding: 10px 15px;
    color: black;
    transition: $header_transition;
    &:hover{
        color: $violet_hover;
    }
}

.socials{
    display: flex;
    flex-direction: row;
    .social-item{
        margin-right: 9px;
        .social-item-viber, .social-item-telegram{
            path{
                fill: #5D6C7BFF;
            }
        }
        .social-item-whatsup{
            path:first-child{
                fill: #5D6C7BFF;
            }
            path:last-child{
                fill: white;
            }
        }
        svg path{
            transition: $header_transition;
        }
        &:hover, &:active{
            .social-item-viber path{
                fill: #9c3fb4;
            }
            .social-item-whatsup path:first-child{
                fill: #4caf50;
            }
            .social-item-telegram path{
                fill: #039be5;
            }
        }
    }
}
