.footer.container-fluid{
    padding: 0;
    position: relative;
    .footer-backgrounds{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .footer-backgrounds-subscribe{
            background: $violet_base;
            height: 100px;
        }
        .footer-backgrounds-other{
            background: $blue_base;
            height: calc(100% - 100px);
        }
    }
    .footer-container{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1440px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        z-index: 2;
        .footer-subscribe, .footer-links, .footer-media, .footer-payments{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .footer-subscribe{
            padding-top: 24px;
            padding-bottom: 24px;
            .footer-subscribe-text{
                font-size: 18px;
                font-weight: 600;
                line-height: 26px;
                text-align: left;
                text-transform: uppercase;
                color: white;
            }
            .footer-subscribe-right{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: auto;
                gap: 30px;
            }
        }
        .footer-links{
            border-bottom: 2px solid #ECF3FF;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: space-between;
            .footer-link-header{
                font-weight: 700;
                margin-bottom: 17px;
            }
            .footer-link-context{
                display: flex;
                flex-direction: row;
                gap: 45px;
                ul{
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
            .footer-links-contacts{
                .footer-links-contacts-top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
                .footer-links-contacts-body{
                    .footer-links-contacts-items{
                        display: flex;
                        flex-direction: row;
                        gap: 45px;
                        .footer-links-item{
                            max-width: 160px;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                        }
                        .address{
                            margin-top: 15px;
                        }
                        .name, .works-day{
                            min-height: 21px;
                        }
                        .number{
                            font-weight: 700;
                            font-size: 16px;
                            min-height: 24px;
                        }
                        .works-day, .address .address-number{
                            color: $text_color;
                        }
                        .name, .address-place .number{
                            color: $black_base;
                        }
                        .address .place, .address .address-number, .works-day, .name{
                            font-size: 14px;
                        }
                    }

                }
            }
        }
        .footer-media{
            border-bottom: 2px solid #ECF3FF;
            padding-bottom: 30px;
            padding-top: 30px;
            align-items: center;
            gap: 50px;
            .footer-media-right{
                margin-left: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
            }
        }
        .footer-payments{
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            .footer-payments-right{
                display: flex;
                flex-direction: row;
                margin-left: auto;
                gap: 30px;
                .footer-payments-right-socials{
                    gap: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
}

@media(max-width: 1270px){
    .footer.container-fluid .footer-container{
        .footer-media{
            flex-wrap: wrap;
            justify-content: center;
            .kugoo-brand{
                min-width: 160px;
            }
            .footer-media-right{
                margin-left: 0;
            }
        }
        .footer-subscribe .footer-subscribe-text{
            font-size: 16px;
        }
        .footer-links .footer-links-contacts .footer-links-contacts-body .footer-links-contacts-itemsзрз{
            gap: 35px;
        }
    }
}
@media(max-width: 1023px){
    .footer.container-fluid{
        .footer-container{
            .footer-subscribe{
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .footer-subscribe-right{
                    margin-left: 0;
                    flex-direction: column;
                    width: 100%;
                    .kugoo-input-box{
                        width: 100%;
                        input{
                            width: 100%;
                        }
                    }
                    button{
                        width: 100%;
                    }
                }
            }
            .footer-links{
                display: none;
            }
            .footer-media .kugoo-brand, .footer-media > .kugoo-brand-card{
                display: none;
            }
            .footer-payments{
                border-top: 3px solid #5d6c7b25;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                .footer-payments-right{
                    display: none;
                }
            }
        }
        .footer-backgrounds{
            .footer-backgrounds-subscribe{
                height: 267px;
            }
            .footer-backgrounds-other{
                height: calc(100% - 267px);
            }
        }
    }
}
