$base_violet: #6F73EE;
$click_violet: #8185F9;
$base_blue: #F4F7FB;
$text_color: #5D6C7B;
$header_transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
%violet_click{
    background: $base_violet;
    color: white;
    transition: $header_transition;
    &:active{
        background: $click_violet;
    }
}
%violet_revert_click{
    background: white;
    color: $base_violet;
    transition: $header_transition;
    &:active{
        background: $base_violet;
        color: white;
    }
}

.footer.container-fluid{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    .footer-backgrounds{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .footer-backgrounds-subscribe{
            background: $base_violet;
            height: 100px;
        }
        .footer-backgrounds-links, .footer-backgrounds-media, .footer-backgrounds-payments{
            background: $base_blue;
        }
    }
    .footer-content{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1440px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        z-index: 2;
        .footer-subscribe, .footer-links, .footer-media, .footer-payments{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .footer-subscribe{
            height: 100px;
            padding-top: 24px;
            padding-bottom: 24px;
            align-items: center;
            .footer-subscribe-text{
                font-size: 18px;
                font-weight: 600;
                line-height: 26px;
                text-align: left;
                text-transform: uppercase;
                color: white;
                margin-right: auto;
            }
            .footer-feedback-subscribe-email-input{
                background: #8c8ff2;
                height: 53px;
                width: 410px;
                padding: 15px 25px;
                border-radius: 15px;
                border: none;
                color: white;
<<<<<<< Updated upstream
=======
                margin-left: auto;
>>>>>>> Stashed changes
                &::placeholder{
                    color: white;
                }
            }
            .footer-feedback-subscribe-btn{
                @extend %violet_revert_click;
                height: 53px;
                width: 140px;
                border-radius: 15px;
                border: none;
                padding: 15px 25px;
                display: flex;
                justify-content: center;
                align-items: center;
<<<<<<< Updated upstream
                margin-left: 20px;
=======
                //see
                margin-left: 95px;
>>>>>>> Stashed changes
            }
        }
        .footer-links{
            border-bottom: 2px solid #ECF3FF;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: space-between;
            .footer-link{
                margin-right: 46px;
            }
            .footer-link:last-child{
                margin-right: 0;
            }
            ul{
                padding-left: 0;
            }
            .footer-links-header{
                font-weight: 700;
                margin-bottom: 17px;
            }
            .footer-links-context{
                display: flex;
                flex-direction: row;
            }
            .footer-links-buyers, .footer-links-catalog{
                .footer-links-item-link{
                    color: $text_color;
                    margin-bottom: 10px;
                }
            }
            .footer-links-buyers{
                .footer-links-items{
                    margin: 0 46px 0 0;
                }
                .footer-links-items:last-child{
                    margin: 0;
                }
            }
            .footer-links-contacts{
                .footer-links-contacts-top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .footer-links-contacts-header{
                        font-weight: 700;
                        color: black;
                    }
                    .footer-links-callback{
                        color: $base_violet;
                    }
                }
                .footer-links-contacts-body{
                    .footer-links-items{
                        display: flex;
                        flex-direction: row;
                        .footer-links-item{
                            max-width: 160px;
                        }
                        .footer-links-items-link{
                            font-weight: 700;
                        }
                        .works-day{
                            color: $text_color;
                        }
                        .address .number{
                            color: $text_color;
                        }
                    }

                }
            }
        }
        .footer-media{
            border-bottom: 2px solid #ECF3FF;
            padding-bottom: 30px;
            padding-top: 30px;
            align-items: center;
            .footer-media-row{
                width: 100%;
                .footer-media-left{
                    display: flex;
                }
                .footer-media-right{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .footer-media-brand{
                display: flex;
                align-items: center;
                margin-right: 50px;
            }
            .footer-media-store{
                flex-direction: row;
                display: flex;
                .footer-media-btn{
                    flex-direction: row;
                    display: flex;
                    align-items: center;
                    background: white;
                    border-radius: 10px;
                    border: none;
                    color: black;
                    margin-right: 10px;
                    padding: 10px;
                    min-width: 135px;
                    svg{
                        margin-right: 10px;
                    }
                    .footer-media-store-text{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 14px;
                        text-align: left;
                        .footer-media-store-text-top{
                            line-height: 20px;
                            font-weight: 500;
                        }
                        .footer-media-store-text-bottom{
                            font-weight: 700;
                            line-height: 14px;
                        }
                    }
                }
            }
            .footer-media-socials{
                .footer-media-socials-items{
                    padding-left: 0;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .footer-media-socials-item{
                        background: white;
                        border: none;
                        border-radius: 50%;
                        color: black;
                    }
                }
            }
        }
        .footer-payments{
            padding-top: 15px;
            padding-bottom: 15px;
            .footer-payments-row{
                width: 100%;
                .footer-payments-left, .footer-payments-right{
                    display: flex;
                    flex-direction: row;
                    ul{
                        padding: 0;
                        margin-bottom: 0;
                    }
                }
                .footer-payments-left{
                    .footer-payments-left-link{
                        color: $text_color;
                        margin-right: 40px;
                    }
                }
                .footer-payments-right{
                    display: flex;
                    justify-content: space-between;
                    .footer-payments-right-banks{
                        display: flex;
                        flex-direction: row;
                        .footer-payments-right-bank{
                            background: white;
                            border-radius: 5px;
                            border: none;
                            padding: 5px;
                            width: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 5px;
                        }
                    }
                    .footer-payments-right-chats{
                        justify-content: center;
                        align-items: center;
                        .footer-payments-right-chat{
                            svg{
                                height: 20px;
                                width: 20px;
                            }
                            svg:first-child{
                                margin-left: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
}
