.header.container-fluid{
    padding: 0;
    .kugoo-navbar{
        position:  relative;
        .kugoo-navbar-backgrounds{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            .kugoo-navbar-backgrounds-top{
                height: 39px;
                background:  white;
                border-bottom: 2px solid #ECF3FF;
            }
            .kugoo-navbar-backgrounds-middle{
                height: 104px;
                background: white;
            }
            .kugoo-navbar-backgrounds-bottom{
                height: 25px;
                background: $blue_base;
            }
        }
        .kugoo-navbar-container{
            position: relative;
            display: flex;
            width: 100%;
            max-width: 1440px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            z-index: 1;
            .kugoo-navbar-top, .kugoo-navbar-middle, .kugoo-navbar-bottom{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
            }
            .kugoo-navbar-top{
                height: 39px;
                .kugoo-navbar-top-left, .kugoo-navbar-top-right{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                .kugoo-navbar-top-left{
                    justify-content: flex-start;
                    gap: 30px;
                }
                .kugoo-navbar-top-right{
                    margin-left: auto;
                    justify-content: flex-end;
                    button{
                        display: none;
                    }
                }
            }
            .kugoo-navbar-middle{
                padding-top: 30px;
                padding-bottom: 30px;
                gap: 30px;
                .kugoo-navbar-middle-links{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: auto;
                }
            }
            .kugoo-navbar-bottom{
                height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}

@media(max-width: 1023px){
    .header.container-fluid .kugoo-navbar{
        .kugoo-navbar-container{
             .kugoo-navbar-top{
                 height: 49px;
                 .kugoo-navbar-top-left{
                     .kugoo-link, .socials{
                         display: none;
                     }
                 }
                 .kugoo-navbar-top-right{
                     .kugoo-link{
                         display: none;
                     }
                     button{
                         display: inline-block;
                         padding: 5px 17px;
                     }
                 }
             }
             .kugoo-navbar-middle{
                 position: relative;
                 justify-content: space-between;
                 .kugoo-search, button, .kugoo-navbar-middle-links{
                     display: none;
                 }
             }
             .kugoo-navbar-bottom{
                 display: none;
             }
         }
        .kugoo-navbar-backgrounds{
            .kugoo-navbar-backgrounds-top{
                height: 49px;
            }
            .kugoo-navbar-backgrounds-bottom{
                display: none;
            }
        }
    }
}
