.header.container-fluid{
    padding: 0;
    .kugoo-navbar{
        .kugoo-navbar-container{
            display: flex;
            width: 100%;
            max-width: 1440px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .kugoo-navbar-top, .kugoo-navbar-middle, .kugoo-navbar-bottom{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
            }
            .kugoo-navbar-top{
                .kugoo-navbar-top-left{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .kugoo-navbar-top-right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .kugoo-navbar-top-socials{
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                }
            }
            .kugoo-navbar-middle{
                justify-content: space-between;
            }
            .kugoo-navbar-bottom{
                font-weight: 700;
            }
        }
    }
}
.footer.container-fluid{

}
