.kugoo-search{
    display: flex;
    height: 40px;
    min-width: 320px;
    width: 100%;
    border-radius: 15px;
    border: 5px solid #6F73EE;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    margin-right: 47px;
    .kugoo-search-field{
        width: 100%;
        height: 100%;
        border: none;
        padding-left: 10px;
        &:focus-visible{
            outline: none;
        }
    }
    .kugoo-search-btn{
        position: absolute;
        right: -8px;
        top: -8px;
        height: 45px;
        width: 45px;
        @include btn($violet_base, white, $violet_hover);
        border-radius: 5px;
    }
}

.kugoo-input-number{
    transition: $header_transition;
    border: 5px solid #EAEBED;
    border-radius: 15px;
    padding: 10px 20px;
    &:focus{
        border: 5px solid $violet_base;
    }
}
