.kugoo-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    height: fit-content;
    transition: $header_transition;
    svg, svg path{
        transition: $header_transition;
    }
}
.link-grey{
    font-size: 14px;
    color: $text_color;
    &:hover, &:active{
        color: $black_base;
        svg path{
            fill: $black_base;
        }
    }
    svg path{
        fill: $text_color;
    }
}
.link-red, .link-icon-red{
    font-size: 14px;
    color: $text_color;
    &:hover, &:active{
        color: $red_base;
        svg path{
            fill: $red_base;
        }
    }
    svg path{
        fill: $text_color;
    }
}
.link-violet{
    color: $black_base;
    &:hover, &:active{
        color: $violet_base;
        svg path{
            fill: $violet_base;
        }
    }
}
.link-violet-square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background: $grey_base;
    padding: 10px 22px;
    color: $black_base;
    font-weight: 700;
    &:hover{
        color: $violet_hover;
    }
}
.link-number{
}
.link-underline{
    font-size: 14px;
    color: $violet_base;
    &:hover, &:active{
        color: $violet_base;
        text-decoration: underline $violet_base;
        text-decoration-skip-ink: none;
    }
}
.link-with-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.link-animation-wide{
    color: $violet_base;
    position: relative;
    margin-right: 20px;
    svg{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0, -50%);
    }
    &:hover, &:active{
        color: $violet_base;
        svg{
            right: -10px;
        }
    }
}
.link-bold{
    font-weight: 700;
}


.link-icon-base{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    padding: 10px;
    gap: 10px;
    transition: $header_transition;
}
.link-wide{
    height: initial;
    width: initial;
    padding: 10px 20px;
}
.link-icon-bg{
    background: white;
    &:hover, &:active{
        background: #F4F7FB;
    }
}
.link-icon-border{
    background: white;
    border: 5px solid #EAEBED;
    padding: 0;
    &:hover{
        background: #EAEBED;
    }
    svg{
        path{
            transition: $header_transition;
        }
        &:hover{
            path{
                fill: $violet_base;
            }
        }
    }
}
.link-icon-blur{
    width: 35px;
    height: 35px;
    svg path{
        fill: $text_color;
        transition: $header_transition;
    }
    background: white;
    transform: initial;
    transition: $header_transition;
    //TODO:убрать бесконечную прокрутку
    &:hover, &:active{
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        svg path{
            fill: $violet_base;
        }
    }
}

