$items: 6;
$transition-duration: 0.4s;
$transition-delay: 0.04s;
#toggle-mobile-menu{
    position: absolute;
    left: -100%;
    top: -100%;
}

#toggle-mobile-menu:checked {
    & ~ .kugoo-navbar-toggler .kugoo-navbar-toggler-icon{
        &:before {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }
        &:after {
            transform: translateY(-50%) rotate(-45deg) scale(1);
        }
    }
    & ~ .kugoo-mobile-menu {
        pointer-events: auto;
        transform: translate(0, 50px);
        width: 100%;
        height: calc(100vh - 50px);
        .kugoo-mobile-menu-threads .kugoo-mobile-menu-item{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black_base;
            padding: 20px 0 20px 0;
            font-weight: 700;
            letter-spacing: 0;
            height: 40px;
            line-height: 40px;
            margin-top: 0;
            opacity: 1;
            transform: scaleY(1);
            transition: $transition-duration, opacity 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);
            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    $delay: ($items - $i) * $transition-delay;
                    transition-delay: $delay;
                    &:before {
                        transition-delay: $delay;
                    }
                    &:after{
                        transition-delay: 0s;
                    }
                }
            }

            // Hiding the lines
            &:before {
                opacity: 0;
            }
            &:after{
                width: 100%;
                opacity: 1;
            }
        }
    }
}

.kugoo-navbar-toggler{
    width: 40px;
    height: 40px;
    .kugoo-navbar-toggler-icon{
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 100%;
        transition: $transition-duration + 0.1;
        &:before, &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background: $violet_base;
            border-radius: 5px;
            transition: $transition-duration;
        }
        &:after{
            transform: translateY(-50%) rotate(45deg) scale(0);
        }
        &:before{
            transform: translateY(-50%) rotate(-45deg) scale(0);
        }
    }
}
.kugoo-mobile-menu{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
    transition: $transition-duration;
    background: white;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 5;
    //overflow-y: scroll;
    overflow: hidden;
    @mixin my-scrollbar{
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0 4px 4px 0;
            background-color: darken($scrollbar-color, 50);
        }
        &::-webkit-scrollbar-track{
            background-color: $scrollbar-color;
            border-radius: 0 4px 4px 0;
        }
    }
    .kugoo-mobile-menu-items{
        padding: 10px 7px;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        transition: $transition-duration;
        .kugoo-mobile-menu-item{
            width: 100%;
            text-align: center;
        }
    }
    .kugoo-mobile-menu-threads{
        .kugoo-mobile-menu-item{
            position: relative;
            display: inline-block;
            float: right;
            clear: both;
            color: transparent;
            font-size: 13px;
            letter-spacing: -6.2px;
            height: 7px;
            line-height: 7px;
            text-transform: uppercase;
            white-space: nowrap;
            transform: scaleY(0.2);
            transition: $transition-duration, opacity 1s cubic-bezier(0.25, 0.8, 0.5, 1);
            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    $delay: ($i - 1) * $transition-delay;
                    transition-delay: $delay;
                    &:before {
                        transition-delay: $delay;
                    }
                    &:after{
                        transition-delay: $delay + 0.1s;
                    }
                }
            }
            &:nth-child(1) {
                letter-spacing: -8px;
            }

            // Adjusting width for the second line
            &:nth-child(2) {
                letter-spacing: -8px;
            }

            &:nth-child(3){
                letter-spacing: -6px;
                &:before{
                    width: 19px;
                }
            }
            // Adjusting from the fourth element onwards
            &:nth-child(n + 4) {
                letter-spacing: -8px;
                margin-top: -7px;
                opacity: 0;
            }
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                right: 0;
                width: 26px;
                height: 5px;
                border-radius: 2px;
                background-color: $violet_base;
                border: 1.3px solid $violet_base;
                transform: translateY(-50%) scaleY(5);
                transition: $transition-duration;
            }
            &:after{
                position: absolute;
                content: '';
                bottom: 0;
                right: 0;
                width: 0;
                opacity: 0;
                height: 2px;
                background: #ECF3FF;
                transition: $transition-duration;
            }
        }
    }
    .kugoo-mobile-menu-additional{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .kugoo-mobile-menu-item .kugoo-mobile-menu-item-link{
            color: $text_color;
        }
    }
    .kugoo-mobile-menu-chats{
        justify-content: center;
        align-items: center;
        svg{
            height: 20px;
            width: 20px;
        }
    }
}
