#toggle-mobile-menu{
    position: absolute;
    left: -100%;
    top: -100%;
}

#toggle:checked {
    & ~ .kugoo-navbar-toggler .kugoo-navbar-toggler-icon{
        &:before {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }
        &:after {
            transform: translateY(-50%) rotate(-45deg) scale(1);
        }
    }
}

.kugoo-navbar-toggler{
    height: 40px;
    width: 40px;
    position: relative;
    border: none;
    background: none;
    .kugoo-navbar-toggler-icon{
        position: absolute;
        left: calc(50% - 13px);
        top: calc(50% - 1px);
        width: 26px;
        height: 5px;
        background: $base_violet;
        border: 1.3px solid $base_violet;
        border-radius: 2px;
        &:after{
            content: "";
            position: absolute;
            right: -1px;
            bottom: -8px;
            width: 13px;
            height: 5px;
            background: $base_violet;
            border: 1.3px solid $base_violet;
            border-radius: 2px;
            transition: $header_transition;
        }
        &:before{
            content: "";
            position: absolute;
            left: -1px;
            top: -8px;
            width: 26px;
            height: 5px;
            background: $base_violet;
            border: 1.3px solid $base_violet;
            border-radius: 2px;
        }
    }
}
.kugoo-mobile-menu{
    background: white;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    z-index: 5;
    overflow-y: scroll;
    @mixin my-scrollbar{
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0 4px 4px 0;
            background-color: darken($scrollbar-color, 50);
        }
        &::-webkit-scrollbar-track{
            background-color: $scrollbar-color;
            border-radius: 0 4px 4px 0;
        }
    }
    .kugoo-mobile-menu-threads{
        display: flex;
        flex-direction: column;
        .kugoo-mobile-menu-item{
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 700;
            color: black;
            border-bottom: 2px solid #ECF3FF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .kugoo-mobile-menu-additional{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .kugoo-mobile-menu-item .kugoo-mobile-menu-item-link{
            color: $text_color;
        }
    }
    .kugoo-mobile-menu-chats{
        justify-content: center;
        align-items: center;
        svg{
            height: 20px;
            width: 20px;
        }
    }
}
